.top {
    display: flex;
    justify-content: space-between;
  }
  
  .item-price {
    font-weight: 500;
  }
  
  .item-img {
    display: flex;
    justify-content: center;
    max-height: 500px;
    width: 100%;
  }
  
  .item-img > img{
      width: 100%;
      object-fit: cover;
  }